{{#> template}}
<main class="ingreso">
  <div class="container right-panel-active">
    <!-- Sign Up -->
    <div class="container__form container--signup">
      <form action="/contacto" method="post" class="form" id="form2">
        <h2 class="form__title">Contáctanos</h2>
        <h6>Envíanos tus comentarios, sugerencias o reclamos y te responderemos a la brevedad</h6>
        <input type="text" placeholder="Nombres" class="input" name="nombre" />
        <input type="email" placeholder="Email" class="input" name="correo" />
        <div class="mb-3">
          <label for="textarea" class="form-label">Comentarios</label>
          <textarea class="form-control" id="textarea" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>

    <!-- Overlay -->
    <div class="overlay__panel overlay--right">
      <button class="btn" id="signUp">Enviar</button>
    </div>
  </div>
</main>
{{!-- <main>
  <div class="container-contact">
    <div class="row header" id="form-header">
      <h2>CONTÁCTANOS &nbsp;</h2>
      <h6>Envíanos tus comentarios, sugerencias o reclamos y te responderemos a la brevedad</h6>
    </div>
    <div class="mb-3">
      <label for="input" class="form-label">Nombres</label>
      <input type="text" for="input" class="form-control">
      <label for="input" class="form-label">Apellidos</label>
      <input type="text" for="input" class="form-control">
      <label for="input" class="form-label">Email</label>
      <input type="email" class="form-control" id="input-email" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="textarea" class="form-label">Comentarios</label>
      <textarea class="form-control" id="textarea" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </div>
</main> --}}
{{/template}}