{{#> template}}
  <main class="indexMain" >

    <div class="homeText">
      <h4>Bienvenid@ a Pez Mosaico</h4>
      <p>Aquí encontrarás una gran variedad de objetos de decoración con técnica mosaico, que le dará un toque único a tu hogar. Contamos con amplio catálogo de diseños para que elijas aquel que cautive más. Recorre nuestra página y disfruta de nuestros productos exclusivos</p>
    </div>
    <div class="slide-Content">
    <div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.culturapuentealto.cl/admin/media/images/1510881656-jardin_magico.jpg" class="d-block w-100 img-slide" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://i.pinimg.com/564x/2a/7f/9b/2a7f9b6c30a245ea1f971d68418dc749.jpg" class="d-block w-100 img-slide" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://www.culturapuentealto.cl/admin/media/images/1510882251-jardin_magico_4.jpg" class="d-block w-100 img-slide" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
        <!-- AQUÍ SE CARGA EL CARRITO DE COMPRAS -->
       {{!-- <div class="carritoCompras offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Carro de Compras</h5>
        <button type="button" class="btn-close"data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <!-- Aquí van los productos en el carrito -->
        <table class="datosProductosAComprar"></table>
        <!-- Aquí van los valores finales del carrito -->
        <div class="valoresTotales"></div>
      </div>
      <div class="offcanvas-footer">
        <button class="btn btn-primary" type="button" onclick="vaciarCarrito()">Vaciar Carrito</button>
        <button class="btn btn-primary" type="button">Comprar</button>
      </div>
    </div>
  </main> --}}
  </main>
  {{/template}}

