<body>
<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="./assets/img/Logo_Pez_Mosaico.png" alt="Pez Mosaico" style="height:20vh"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/">Inicio</a>
          <a class="nav-link" href="/tienda">Tienda</a>
          <a class="nav-link" href="/nosotros">Nosotros</a>
          <a class="nav-link" href="/contacto">Contacto</a>
          <a class="nav-link" href="/ingreso">Ingreso</a>
                  {{!-- <div class="contenedor-Cart"> --}}
          <div class="cart-notification" value="">2</div>
          <a class="btn btn-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" onclick="window.location.href='/cart'">
            <img src="./assets/img/cart-1-svgrepo-com.svg" alt="" id="imgCarrito" height="50px">
          </a>
        {{!-- </div> --}}
        </div>

      </div>
    </div>
  </nav>
</header>
